# Chapter 6 - Operators (& Dunder Methods)

Dunder methods are the ones with double underscores on either side of the method. 

Examples:

* `.__add__`
* `.__iter__`

In [1]:
# Simple example of how some operators work 'under the covers'
2 + 4

6

In [2]:
# Under the covers 
(2).__add__(4)

6

Pandas Series objects have dunder methods for simple operations, and therefore, you can use operators without having to work out the details of implementation.

In [3]:
import pandas as pd

In [4]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'

In [5]:
df = pd.read_csv(url)

/var/folders/mt/_tmbg5sj039gf4rlsp9gr4pc0000gn/T/ipykernel_18392/4176769558.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [6]:
city_mpg = df.city08
highway_mpg = df.highway08

In [7]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

Notice that the data types are `float64`.

## Index Alignment

When you operate with two series, pandas will align the index before performing the operation. Aligning will take each index entry in the left series and match it up with every entry with the same name in the index of the right series.

Because of index alignment, you will want to make sure that the indexes:

* Are unique (no duplicates)
* Are common to both series

In [9]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [10]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

Let's demonstrate this with smaller cobbled together series.

In [11]:
s1 = pd.Series([10, 20, 30], index=[1, 2, 2])
s2 = pd.Series([35, 44, 53], index=[2, 2, 4], name='s2')

In [12]:
s1

1    10
2    20
2    30
dtype: int64

In [13]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [14]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

## Broadcasting

When you perform math operations with a scalar, pandas broadcasts the operation to all values. In the above case, the values are added together. This makes it easy to write mathematical operations. It also makes the code easy to read. There are other performance benefits too.

One neat thing about using the opeartion methods like `.add` is that you can specify a fill option.

In [15]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64